<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>MyMoney Bank - Stock Exchange</title>
</head>

<body>
	<div align="center">
		<h1>Welcome to the MM Stock Exchange!</h1>
		<h3>Please choose from our main menu:</h3>
		<a href="/stocks">Browse All Orders of All Stocks</a>
		<br>
		<a href="/stocks/filter">Browse All Orders of A Particular Stock</a>
		<br>
		<a href="/order">Place an Order</a>
		<br>		
		<a href="/transactions">Browse All Transactions</a>
		<br>
	</div>
</body>

</html>